<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-compartilhamento-heading"
        data-cy="CompartilhamentoCreateUpdateHeading"
        jhiTranslate="reiseHybridApp.compartilhamento.home.createOrEditLabel"
      >
        Create or edit a Compartilhamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reiseHybridApp.compartilhamento.nomeComp" for="field_nomeComp">Nome Comp</label>
          <input type="text" class="form-control" name="nomeComp" id="field_nomeComp" data-cy="nomeComp" formControlName="nomeComp" />
          <div *ngIf="editForm.get('nomeComp')!.invalid && (editForm.get('nomeComp')!.dirty || editForm.get('nomeComp')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeComp')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reiseHybridApp.compartilhamento.descricaoComp" for="field_descricaoComp"
            >Descricao Comp</label
          >
          <textarea
            class="form-control"
            name="descricaoComp"
            id="field_descricaoComp"
            data-cy="descricaoComp"
            formControlName="descricaoComp"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reiseHybridApp.compartilhamento.dataCriacao" for="field_dataCriacao"
            >Data Criacao</label
          >
          <div class="input-group">
            <input
              id="field_dataCriacao"
              data-cy="dataCriacao"
              type="text"
              class="form-control"
              name="dataCriacao"
              ngbDatepicker
              #dataCriacaoDp="ngbDatepicker"
              formControlName="dataCriacao"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataCriacaoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="reiseHybridApp.compartilhamento.viajante" for="field_viajante">Viajante</label>
          <select class="form-control" id="field_viajante" data-cy="viajante" name="viajante" formControlName="viajante">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="viajanteOption.id === editForm.get('viajante')!.value?.id ? editForm.get('viajante')!.value : viajanteOption"
              *ngFor="let viajanteOption of viajantesSharedCollection; trackBy: trackViajanteById"
            >
              {{ viajanteOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
